.textos{
    text-align: justify;
}
.jumbotron{
    color: black;
    margin-top: 3rem;

}
footer{
    color: black;

}
.card-caja{
    flex: 1 300px;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
}
.btn-readmore{
    width: 100%;
    position: bottom;

}
.cont-icono{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.urls{
    color: black;
    font-size: 1.5em;
}
form{
    margin-bottom: 2rem;
}